/* Start Global Rules */
* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body, button {
    font-family: 'Red Hat Display', sans-serif;
}
/* End Global Rules */
/* Start Card Style */
.container {
    padding: 15px;
    background-color: hsl(225, 100%, 94%);
    background-image: url(../images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    width: 100%;
}
.card {
    display: flex;
    flex-direction: column;
    width: 450px;
    max-width: 100%;
    margin: 100px auto;
    background-color: #fff;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 20px 40px -20px hsl(224, 23%, 75%);
}
.card img {
    width: 100%;
}
.card .content {
    padding: 50px;
    text-align: center;
}
.card .content h1 {
    color: hsl(223, 47%, 23%);
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: 900;
}
.card .content p {
    color: hsl(224, 23%, 55%);
    line-height: 1.6;
    font-weight: 500;
}
.card .plan {
    display: flex;
    align-items: center;
    padding: 20px;
    margin: 30px 0;
    background-color: hsl(225, 100%, 98%);
    border-radius: 10px;
}
.card .plan img {
    width: 50px;
}
.card .plan .plan-details {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
.card .plan .plan-details .name {
    color: hsl(223, 47%, 23%);
    font-weight: 900;
    margin-bottom: 5px;
}
.card .plan .plan-details .price {
    color: hsl(224, 23%, 55%);
    font-weight: 500;
    font-size: 16px;
}
.card .plan a {
    display: block;
    margin-left: auto;
    color: hsl(245, 75%, 52%);
    font-weight: 700;
    font-size: 14px;
}
.card .plan a:hover {
    color: hsl(245, 65%, 66%);
}
.card .content button:first-of-type {
    display: block;
    width: 100%;
    padding: 15px 10px;
    color: #fff;
    background-color: hsl(245, 75%, 52%);
    border: none;
    font-weight: 900;
    font-size: 15px;
    border-radius: 10px;
    margin-bottom: 30px;
    box-shadow: 0px 15px 30px -15px hsl(224, 23%, 55%);
    cursor: pointer;
}
.card .content button:last-of-type {
    display: block;
    width: 100%;
    color: hsl(224, 23%, 55%);
    background-color: transparent;
    border: none;
    font-weight: 900;
    font-size: 15px;
    cursor: pointer;
}
.card .content button:first-of-type:hover {
    background-color: hsl(245, 65%, 66%);
}
.card .content button:last-of-type:hover {
    color: hsl(223, 47%, 23%);
}
@media (max-width: 400px) {
    .container {
        background-image: url(../images/pattern-background-mobile.svg);
    }
    .card .content {
        padding: 20px;
    }
}
/* End Card Style */
/* Start Footer */
footer {
    text-align: center;
    background-color: hsl(223, 80%, 90%);
    padding: 20px 10px;
}
footer .content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    max-width: 500px;
    margin: 0 auto;
    color: hsl(223, 47%, 23%);
    font-weight: 700;
    font-size: 14px;
}
footer span {
    color: hsl(223, 47%, 23%);
    padding: 5px;
}
footer span:first-child {
    margin-left: -5px;
}
footer a {
    color: hsl(245, 75%, 52%);
}
footer a:hover {
    color: hsl(245, 65%, 66%);
}
/* End Footer */